<h1>Stocks</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>In Stock</th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.product.name %></td>
        <td><%= stock.available %></td>
      </tr>
    <% end %>
  </tbody>
</table>