<div class="row" id="categories">
    <% if params[:action].eql?('create') %>
      <%= bootstrap_flash %>
    <% end %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th width="70"></th>
        <th width="70"></th>
      </tr>
    </thead>
    <tbody id="categories-body">
      <% @categories.each do |category| %>
        <tr>
          <%= render partial: "categories/category", locals: {category: category} %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>