<h1>List of all categories</h1>

<%= render 'categories/list' %>

<div id="new-category">
  <%= form_tag categories_path, remote: true, method: :post, id: "new-category-form" do %>
    <div class="form-group row no-padding text-center col-md-12">
      <div class="col-md-10">
        <%= text_field_tag :name, params[:name], 
                                  placeholder: "Category Name", autofocus: true,
                                  class: "form-control" %>
      </div>
      <div class="col-md-2">
        <%= button_tag(type: :submit, class: "btn btn-primary") do %>
          New Category
        <% end %>
      </div>
    </div>
  <% end %>
</div>
