  <%= bootstrap_flash %>
<h1>List of all products</h1>
<div class="container">
  <div class="row" id="products">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
          <div class="col-md-3">
            Name
          </div>
          <div class="col-md-3">
            SKU
          </div>
          <div class="col-md-3">
            Category
          </div>
          <div class="col-md-3">
            
          </div>
          </th>
        </tr>
      </thead>
      <tbody name="list-body">
        <% @products.each do |product| %>
          <tr>
            <%= render partial: "products/product", locals: {product: product} %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= render 'products/new' %>